$one-hundred-percent: 100px/100px *100%;
$half-percent: 1px/2px *100%;

/*---------------------- fonts ----------------------*/
@font-face {
    font-family: Rajdhani-Regular;
    src: url('../fonts/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: PlayfairDisplaySC-Regular;
    src: url('../fonts/PlayfairDisplaySC-Regular.ttf');
}

@font-face {
    font-family: PoiretOne-Regular;
    src: url('../fonts/PoiretOne-Regular.ttf');
}


@font-face {
    font-family: Quicksand-Medium;
    src: url('../fonts/Quicksand-Medium.ttf');
}

@font-face {
    font-family: ZenLoop-Regular;
    src: url('../fonts/ZenLoop-Regular.ttf');
}

@font-face {
    font-family: ShadowsIntoLight-Regular;
    src: url('../fonts/ShadowsIntoLight-Regular.ttf');
}

/*---------------------- body ---------------------- */
body {
    margin: auto;
    padding: 0;
    background-color: #DFD3C3;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
    color: #2978B5;
}

a:hover {
    color: #8B5D5D;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #bdb29f;
}

.page-wrapper {
    padding: 0 150px;  
	margin: 0; 
	position: relative;
    h3 {
        font-family: PoiretOne-Regular;
        font-weight: bold;
        font-size: 1.9em;
    }

    p {
        font-family: Quicksand-Medium;
        font-size: 1em;
    }

}

/*---------------------- header + white bg ---------------------- */

.intro {
    header {
        padding: 90px 0 ;
        /*background: url('../img/sunpink.png') center;*/
        background-image: url('../img/sunblue.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: $one-hundred-percent;
        margin: auto;
        text-align: center;
        font-family: Rajdhani-Regular;
    
        h1 {
            color: rgb(0, 0, 0);
            font-size: 3.5em;
            margin-bottom: 0;
            margin-top: 0;
        }
    
        h2 {
            color: rgb(48, 47, 47);
            text-transform: uppercase;
            font-size:larger;
            margin-top: 0;
        }
        
    }

    /*-------- white bg -------- */

    background-attachment:  fixed;
    background-color: #CDF0EA;
    background-image: url('../img/minimalist.png') ;
    background-size: 2100px;
    margin: auto;
    width: $one-hundred-percent;

    .summary{
        padding-top: 1.5em;
        padding-bottom: 2em;
        text-align: center;
        p {
            font-family: PlayfairDisplaySC-Regular;
            font-weight: 595;
            font-size: 0.9em;
        }
    }
    
    .preamble {
        text-align: left;
    }
}

.preamble, .participation { 
    padding: 45px 100px 70px 90px;
    width: $half-percent;
}

/*---------------------- pink bg ---------------------- */

.supporting {
    background-attachment:  fixed;
    background-color: #fff7e4;
    background-image: url('../img/flowerpink.jpg');
    background-size: 700px;
    text-align: center;
    margin: auto; 

    .explanation, .benefits {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        position: absolute;
        padding: 0 50px 20px 50px;
    }
    
    .explanation {
        max-width: 600px;
        top: 950px;
        left: 250px;
        background-color: #c2b8a380;
    }
    
    .participation {
        padding: 500px 0 360px 130px;
    }
    
    .benefits {
        max-width: 500px;
        top: 1800px;
        left: 300px;
        background-color: #b4846c85 ;
        color: white;
        h3 {
            color: black;
        }
    }
    
    /*-------- white rose bg -------- */

    .requirements {
        padding: 50px 200px 50px 90px;
        width: auto;
        text-align: left;
    
        background-attachment:  fixed;
        background-color: #fff7e4;
        background-image: url('../img/rose.png') ;
        background-size: 1500px;
        margin: auto;
    
        p:last-child {
            width: 430px;
            padding: 10px 25px;
            background-color: #c19191;
            color: white;
            font-family: ZenLoop-Regular;
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
            margin-top: 70px;
            margin-left: 230px;

            a {
                font-family: ShadowsIntoLight-Regular;
                font-size: 0.8em;
                color: #CCF2F4;
                /*color: #CDFFFC;*/
            }
        }

        h3 {
            font-size: 4.5em;
            margin-top: 30px;
            margin-bottom: 100px;
        }

    }
}

/*---------------------- made sidebar ---------------------- */

@media only screen and (min-width: 1132px) {
    .participation div {
        float: left;
        clear: left;
        width: 77%;
        padding: 1em 5/100*100% 1em 1/100 *100%;;
    }
}

@media only screen and (min-width: 1132px){
    .sidebar {
        position: absolute;
        top: 849px;
        right: 150px;
        width: 23px/100px *100%;;
        padding: 0 0 20px 0;
        margin: 0;
        overflow: visible;
        background: transparent;
    }
}

/*---------------------- link sidebar ---------------------- */

.sidebar {
    background-image: url('../img/flowerblocklight.png');
    background-size: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

    .design-selection .design-name, .zen-resources a, li.viewall a {
        display: block;
        text-transform: uppercase;
        font-family: PlayfairDisplaySC-Regular;
        font-size: 0.9em;
        color: #FF616D;
    } 
    
    .design-selection {
        font-family: Quicksand-Medium;

        .design-name {
            /*color: #FF616D; */
            color: #D35D6E;
        }

        .designer-name {
            font-family: ShadowsIntoLight-Regular;
            color: #39A2DB;
        }

        a:hover {
            color: #2978B5;
        }
    }
    
    .zen-resources {
        /*background-image: url('../img/flowerblocklight.png');
        background-size: 500px;*/
    
        a {
            color: #926E6F;
            text-align: center;
        }

        a:hover {
            color: #F39189;
        }
    }
    
    .design-archives {
        /*background-image: url('../img/Sunflowerswhite.jpg');
        background-size: 600px;*/

        .next {
            width: 40%;
            padding-inline-start: 35px;
            margin-left: 30px;
        }

        .next a {
            font-family: ShadowsIntoLight-Regular;
        }

        .viewall a{
            text-align: center;
            color: #F39189;
        }

        a:hover {
            color: #8B5D5D;
        }
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 70px;

    }

    li {
        list-style-type: none;
        display: block;
        /*background-color: #ece8e5a9;*/
        background-color: rgba(245, 245, 245, 0.623);
        width: 7/10 *100%;;
        padding: 10px;
        margin: 10px 0;

    }
    
    h3 {
        text-align: center;
    }

}

/*---------------------- footer ---------------------- */

footer {
    background-image: url('../img/Sunflowerswhite.jpg');
    background-size: 1800px;
    color: white;
    padding: 10px;
    z-index: 1;
    overflow-x: hidden;
    text-align: center;

    a {
        color: #C19191; 
        padding: 15px 35px;
        display: inline-block; 
        font-family: PlayfairDisplaySC-Regular;
        font-weight: bold;
        font-size: 1.3em;
    }

    a:link { 
        color: #C19191; 
    }

    a:hover {
        background-color: #8B5D5D;
        color: whitesmoke;
    }
}
